---
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro"
import Button from "../components/Button.astro";
import Hero from "../components/Hero.astro";
import Certificate from "../components/Certificate.astro";
---

<Layout backgroundUrl="images/image2.png">
    <Hero imagePath="/src/assets/images/mostel (125).webp">
		<div class="flex flex-col h-full w-full items-center justify-center text-center">
			<SectionTitle text="Sme experti na kalibráciu" ></SectionTitle>
			<SectionTitle text="Ponúkame presné merania bez starostí" type="subtitle"></SectionTitle>
		</div>
    </Hero>
    <Section height="h-screen">
		<div class="flex flex-col h-full w-full items-center justify-center text-center">
			<SectionTitle text="Kalibrujeme meradlá pre rôzne veličiny" class="mb-3"></SectionTitle>
			<SectionTitle text="Od tlaku až po elektrický odpor" type="subtitle" class="mb-10"></SectionTitle>
			<div class="flex h-100 w-full mb-5">
				<div style="background-image: url('/images/mostel (120).webp');" class="bg-contain bg-no-repeat bg-center w-full h-full"></div>
			</div>
            <p class="text-white text-center">
					Ex nisi occaecat nulla fugiat est nisi amet eiusmod
					voluptate. Exercitation ullamco veniam sint commodo nisi
					adipisicing pariatur do non exercitation fugiat velit
					deserunt exercitation. Sint voluptate aliqua consequat
					deserunt proident consectetur. Veniam veniam velit aliquip
					cupidatat. Ad eiusmod exercitation in ex elit sint cupidatat
					ea laboris sint quis sit.
				</p>
		</div>
	</Section>
    <Section height="h-fit">
        <div class="flex flex-col w-full text-center items-center">
            <SectionTitle text="Ako to u nás vyzerá" class="mb-5"></SectionTitle>
            <Gallery></Gallery>
            <Button text="Galéria" href="gallery"></Button>
        </div >
    </Section>
    <Section height="h-120">
        <div class="flex flex-col w-full text-center items-center justify-center">
            <SectionTitle text="Certifikáty"></SectionTitle>
            <SectionTitle text="Naše certifikáty sú dôkazom našej kvality a presnosti" type="subtitle"></SectionTitle>
            <Certificate/>
        </div>
    </Section>
</Layout>