---
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro"
import Button from "../components/Button.astro";
import Hero from "../components/Hero.astro";
import Certificate from "../components/Certificate.astro";
---

<Layout backgroundUrl="images/image2.png">
    <Hero imagePath="/src/assets/images/mostel (125).webp">
		<div class="flex flex-col h-full w-full items-center justify-center text-center">
			<SectionTitle text="Sme experti na kalibráciu" ></SectionTitle>
			<SectionTitle text="Ponúkame presné merania bez starostí" type="subtitle"></SectionTitle>
		</div>
    </Hero>
    <Section height="h-fit">
		<div class="flex flex-col h-full w-full items-center justify-center text-center pt-20 pb-20 md:pt-50 md:pb-50">
			<SectionTitle text="O našej firme" class="mb-3"></SectionTitle>
			<SectionTitle text="Zabezpečujeme spoľahlivosť a kvalitu vašich meracích prístrojov" type="subtitle" class="mb-10"></SectionTitle>
			<div class="flex h-100 w-full mb-5">
				<div style="background-image: url('/images/mostel (120).webp');" class="bg-cover bg-no-repeat bg-center w-full h-full"></div>
			</div>
            <p class="text-white text-center">
					Ex nisi occaecat nulla fugiat est nisi amet eiusmod
					voluptate. Exercitation ullamco veniam sint commodo nisi
					adipisicing pariatur do non exercitation fugiat velit
					deserunt exercitation. Sint voluptate aliqua consequat
					deserunt proident consectetur. Veniam veniam velit aliquip
					cupidatat. Ad eiusmod exercitation in ex elit sint cupidatat
					ea laboris sint quis sit.
				</p>
		</div>
	</Section>
    <Section height="h-fit">
        <div class="flex flex-col w-full  text-center items-center pb-20 md:pb-50">
            <SectionTitle text="Pozrite sa na naše vybavenie" class="mb-5"></SectionTitle>
            <Gallery></Gallery>
            <Button text="Galéria" href="gallery"></Button>
        </div >
    </Section>
    <Section height="h-fit">
        <div class="flex flex-col w-full text-center items-center justify-center pb-20">
            <SectionTitle text="Certifikáty" class="mb-2"></SectionTitle>
            <SectionTitle text="Naše certifikáty sú dôkazom našej kvality a presnosti" type="subtitle" class="mb-5"></SectionTitle>
            <Certificate/>
        </div>
    </Section>
</Layout>