---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Hero from "../components/Hero.astro";
---

<Layout backgroundUrl="image2.png">
    <Hero
        imagePath="mostel (67).webp"
        title="Neváhajte nás kontaktovať"
        subtitle="V prípade záujmu o naše služby"
    />
    <Section>
        <div
            class="bg-primary rounded-sm w-full md:w-full grid grid-cols-1 grid-rows-3 md:grid-cols-3 md:grid-rows-1 relative -top-30 px-7 py-15 md:px-15 text-white text-center justify-center items-center gap-7"
        >
            <div class="flex flex-col flex-nowrap h-full items-center">
                <svg
                    class="h-12 stroke-white"
                    id="Layer_1"
                    data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    ><defs
                        ><style>
                            .cls-6376396cc3a86d32eae6f0e0-1 {
                                fill: none;
                            }
                        </style></defs
                    ><rect
                        class="cls-6376396cc3a86d32eae6f0e0-1"
                        x="5.32"
                        y="1.5"
                        width="13.36"
                        height="21"
                        rx="1.91"></rect><line
                        class="cls-6376396cc3a86d32eae6f0e0-1"
                        x1="5.32"
                        y1="18.68"
                        x2="18.68"
                        y2="18.68"></line><circle
                        class="cls-6376396cc3a86d32eae6f0e0-1"
                        cx="12"
                        cy="8.18"
                        r="1.91"></circle><path
                        class="cls-6376396cc3a86d32eae6f0e0-1"
                        d="M12,10.09h0A2.86,2.86,0,0,1,14.86,13v1a0,0,0,0,1,0,0H9.14a0,0,0,0,1,0,0V13A2.86,2.86,0,0,1,12,10.09Z"
                    ></path></svg
                >
                <p class="text-l md:text-xl font-bold text-white my-2">
                    Zatelefonujte
                </p>
                <a
                    class="text-xl text-accent underline underline-offset-7"
                    href="tel:0918935931">0918935931</a
                >
            </div>
            <div class="flex flex-col flex-nowrap h-full items-center">
                <svg
                    class="h-12 stroke-white"
                    id="Layer_1"
                    data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    ><defs
                        ><style>
                            .cls-6374f8d9b67f094e4896c653-1 {
                                fill: none;
                            }
                        </style></defs
                    ><polyline
                        class="cls-6374f8d9b67f094e4896c653-1"
                        points="18.68 6.97 22.5 10.09 22.5 22.5 1.5 22.5 1.5 10.09 5.32 6.97"
                    ></polyline><polyline
                        class="cls-6374f8d9b67f094e4896c653-1"
                        points="1.5 11.04 12 18.68 22.5 11.04"
                    ></polyline><polyline
                        class="cls-6374f8d9b67f094e4896c653-1"
                        points="5.32 13.91 5.32 1.5 18.68 1.5 18.68 13.91"
                    ></polyline><line
                        class="cls-6374f8d9b67f094e4896c653-1"
                        x1="8.18"
                        y1="5.32"
                        x2="15.82"
                        y2="5.32"></line><line
                        class="cls-6374f8d9b67f094e4896c653-1"
                        x1="8.18"
                        y1="9.14"
                        x2="15.82"
                        y2="9.14"></line><line
                        class="cls-6374f8d9b67f094e4896c653-1"
                        x1="8.18"
                        y1="12.95"
                        x2="15.82"
                        y2="12.95"></line></svg
                >
                <p class="text-l md:text-xl font-bold text-white my-2">
                    Pošlite nám email
                </p>
                <a
                    class="text-xl text-accent underline underline-offset-7"
                    href="mailto:mostel@mostel.sk">mostel@mostel.sk</a
                >
            </div>
            <div class="flex flex-col flex-nowrap h-full items-center">
                <svg
                    class="h-12 stroke-white"
                    id="Layer_1"
                    data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    ><defs
                        ><style>
                            .cls-6374f8d9b67f094e4896c649-1 {
                                fill: none;
                            }
                        </style></defs
                    ><path
                        class="cls-6374f8d9b67f094e4896c649-1"
                        d="M19.64,9.14C19.64,15.82,12,22.5,12,22.5S4.36,15.82,4.36,9.14a7.64,7.64,0,0,1,15.28,0Z"
                    ></path><circle
                        class="cls-6374f8d9b67f094e4896c649-1"
                        cx="12"
                        cy="9.14"
                        r="2.86"></circle></svg
                >
                <p class="text-l md:text-xl font-bold text-white my-2">
                    Spýtajte sa osobne
                </p>
                <a
                    class="text-xl text-accent underline underline-offset-7"
                    href="https://maps.app.goo.gl/aqbnM1q5h6r6HDe79"
                    >Mostel A&A, Liptovský Hrádok</a
                >
            </div>
        </div>
        <div class="w-full h-150 mb-30 text-center flex flex-col">
            <SectionTitle text="Navštívte nás " type="subtitle" class="mb-5" />
            <iframe
                class="object-cover w-full h-full mb-5"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1307.7745912117107!2d19.711402!3d49.0381807!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47159c952372ee1d%3A0xa0058ad7fee72e5f!2sMOSTEL%20A%26A%20kalibr%C3%A1cia%20a%20opravy%20meradiel%2C%20prev%C3%A1dzka%20laborat%C3%B3rium!5e0!3m2!1sen!2ssk!4v1753358624173!5m2!1sen!2ssk"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <a class="mb-3 cursor-pointer">
                <span class="font-bold text-accent">Sídlo prevádzky:</span><span
                    class="underline"
                >
                    Jána Nepomuka Bobulu 663, 033 01 Liptovský Hrádok</span
                >
            </a>
            <a class="mb-5 text-white cursor-pointer">
                <span class="font-bold text-accent">Laboratórium:</span><span
                    class="underline"
                >
                    Strojárska 330/3, 033 01 Podtureň-Roveň
                </span>
            </a>
            <ul class="flex flex-col">
                <li class="text-base text-accent mb-3 font-bold">
                    Otváracie hodiny
                </li>
                <li class="mb-1">Pondelok - Piatok: 7:00 - 17:00</li>
                <li>Sobota - Nedeľa: 9:00 - 12:00</li>
            </ul>
        </div>
    </Section>
    <Section height="h-fit">
        <div
            class="grid grid-cols-2 md:grid-cols-[1fr_2fr] grid-rows-2 w-fit h-full justify-center items-center mb-30 gap-2 md:gap-3"
        >
            <div class="w-full h-full flex">
                <a
                    class="flex items-center gap-5 bg-primary rounded-sm px-5 py-3 w-full justify-center"
                    href="https://www.facebook.com/p/Kalibr%C3%A1cia-meradiel-100095471085829/"
                >
                    <svg
                        class="w-10 h-10 stroke-accent"
                        id="Layer_1"
                        data-name="Layer 1"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        ><defs
                            ><style>
                                .cls-637b8512f95e86b59c57a116-1 {
                                    fill: none;
                                }
                            </style></defs
                        ><path
                            class="cls-637b8512f95e86b59c57a116-1"
                            d="M17.73,6.27V1.5h-1A7.64,7.64,0,0,0,9.14,9.14v.95H6.27v3.82H9.14V22.5h4.77V13.91h2.86V10.09H13.91V9.14a2.86,2.86,0,0,1,2.86-2.87Z"
                        ></path></svg
                    >
                    <p class="hidden md:block">Facebook</p>
                </a>
            </div>
            <div class="w-full h-full flex md:col-start-1 md:row-start-2">
                <a
                    class="flex items-center gap-5 bg-primary rounded-sm px-5 py-3 w-full justify-center"
                    href="https://www.instagram.com/mostel_a.ch?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                >
                    <svg
                        class="w-10 h-10 stroke-accent"
                        id="Layer_1"
                        data-name="Layer 1"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        ><defs
                            ><style>
                                .cls-637b8512f95e86b59c57a11c-1 {
                                    fill: none;
                                }
                                .cls-637b8512f95e86b59c57a11c-2 {
                                    fill: none;
                                }
                            </style></defs
                        ><rect
                            class="cls-637b8512f95e86b59c57a11c-1"
                            x="1.5"
                            y="1.5"
                            width="21"
                            height="21"
                            rx="3.82"></rect><circle
                            class="cls-637b8512f95e86b59c57a11c-1"
                            cx="12"
                            cy="12"
                            r="4.77"></circle><circle
                            class="cls-637b8512f95e86b59c57a11c-2"
                            cx="18.2"
                            cy="5.8"
                            r="1.43"></circle></svg
                    >
                    <p class="hidden md:block">Instagram</p>
                </a>
            </div>
            <div
                class="col-span-2 md:col-start-2 md:row-start-1 md:row-span-2 flex items-center justify-center gap-5 bg-primary rounded-sm  h-full"
            >
                <a
                    class="flex items-center gap-5 bg-primary rounded-sm px-5 py-3 w-full justify-center"
                    href="https://youtube.com/channel/UC-hU5wJzyGOglLngLuu3qsA/MostelAALiptovsk%C3%BDHr%C3%A1dok?si=ZFZFtQ9nZVwBGemT"
                >
                    <svg
                        id="Layer_1"
                        data-name="Layer 1"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        class="w-10 h-10 stroke-accent"
                        ><defs
                            ><style>
                                .cls-637b8512f95e86b59c57a142-1 {
                                    fill: none;
                                }
                            </style></defs
                        ><rect
                            class="cls-637b8512f95e86b59c57a142-1"
                            x="1.5"
                            y="3.41"
                            width="21"
                            height="17.18"
                            rx="3.82"></rect><polygon
                            class="cls-637b8512f95e86b59c57a142-1"
                            points="15.82 12 8.18 15.82 8.18 8.18 15.82 12"
                        ></polygon></svg
                    >
                    <p class="hidden md:block">Youtube</p>
                </a>
            </div>
        </div>
    </Section>
</Layout>
