---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Hero from "../components/Hero.astro"
---

<Layout backgroundUrl="images/image2.png">
    <Hero imagePath="/src/assets/images/mostel (67).webp">
        <SectionTitle text="Ozvite sa nám"></SectionTitle>
    </Hero>
    <Section>
    <div class="bg-primary rounded-sm w-full md:w-full grid grid-cols-1 grid-rows-3 md:grid-cols-3 md:grid-rows-1  relative -top-30 px-7 py-15 md:px-15 text-white text-center justify-center items-center gap-7">
        <div class="flex flex-col flex-nowrap h-full items-center">
            <svg class="h-12 stroke-white " id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1" ><defs><style>.cls-6376396cc3a86d32eae6f0e0-1{fill:none;}</style></defs><rect class="cls-6376396cc3a86d32eae6f0e0-1" x="5.32" y="1.5" width="13.36" height="21" rx="1.91"></rect><line class="cls-6376396cc3a86d32eae6f0e0-1" x1="5.32" y1="18.68" x2="18.68" y2="18.68"></line><circle class="cls-6376396cc3a86d32eae6f0e0-1" cx="12" cy="8.18" r="1.91"></circle><path class="cls-6376396cc3a86d32eae6f0e0-1" d="M12,10.09h0A2.86,2.86,0,0,1,14.86,13v1a0,0,0,0,1,0,0H9.14a0,0,0,0,1,0,0V13A2.86,2.86,0,0,1,12,10.09Z"></path></svg>
            <p class="text-xl font-bold text-white my-2">Zavolajte nám </p>
            <a class="text-xl text-accent underline underline-offset-7" href="tel:0918935931">0918935931</a>
        </div>
        <div class="flex flex-col flex-nowrap h-full items-center">
            <svg class="h-12 stroke-white " id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1"><defs><style>.cls-6374f8d9b67f094e4896c653-1{fill:none;}</style></defs><polyline class="cls-6374f8d9b67f094e4896c653-1" points="18.68 6.97 22.5 10.09 22.5 22.5 1.5 22.5 1.5 10.09 5.32 6.97"></polyline><polyline class="cls-6374f8d9b67f094e4896c653-1" points="1.5 11.04 12 18.68 22.5 11.04"></polyline><polyline class="cls-6374f8d9b67f094e4896c653-1" points="5.32 13.91 5.32 1.5 18.68 1.5 18.68 13.91"></polyline><line class="cls-6374f8d9b67f094e4896c653-1" x1="8.18" y1="5.32" x2="15.82" y2="5.32"></line><line class="cls-6374f8d9b67f094e4896c653-1" x1="8.18" y1="9.14" x2="15.82" y2="9.14"></line><line class="cls-6374f8d9b67f094e4896c653-1" x1="8.18" y1="12.95" x2="15.82" y2="12.95"></line></svg>
            <p class="text-xl font-bold text-white my-2">Pošlite nám email</p>
            <a class="text-xl text-accent underline underline-offset-7" href="mailto:mostel@mostel.sk">mostel@mostel.sk</a>
        </div>
        <div class="flex flex-col flex-nowrap  h-full items-center">
            <svg class="h-12 stroke-white " id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1"><defs><style>.cls-6374f8d9b67f094e4896c649-1{fill:none;}</style></defs><path class="cls-6374f8d9b67f094e4896c649-1" d="M19.64,9.14C19.64,15.82,12,22.5,12,22.5S4.36,15.82,4.36,9.14a7.64,7.64,0,0,1,15.28,0Z"></path><circle class="cls-6374f8d9b67f094e4896c649-1" cx="12" cy="9.14" r="2.86"></circle></svg>
            <p class="text-xl font-bold text-white my-2">Spýtajte sa osobne</p>
            <a class="text-xl text-accent underline underline-offset-7" href="https://maps.app.goo.gl/vmQWSMq9gKvhDwjVA">Mostel A&A, Liptovský Hrádok</a>
        </div>
    </div>
    <div class="w-full h-100 mb-30 text-center flex flex-col gap-5">
        <SectionTitle text="Nájdete nás" type="subtitle"></SectionTitle>
        <iframe class="object-cover w-full h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2615.3917032417485!2d19.731743312547934!3d49.04117538770574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47159cb0622ae373%3A0x3c87c71613a75105!2sMostel%20A%26A%20kalibr%C3%A1cia!5e0!3m2!1ssk!2ssk!4v1751394128285!5m2!1ssk!2ssk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p class="">Mostel A&A, Jána Nepomuka Bobulu 663, Liptovský Hrádok, 03301, SLOVAKIA</p>
    </div>
    </Section>
    <Section>
        <div class="rounded-sm flex h-fit gap-5 text-white bg-primary w-max px-5 py-5 mb-30">
            <div class="w-20 aspect-square">
                <img class="w-full object-cover" src="user.png" alt="" >
            </div>
            <div>
                <p class="font-bold">Adam Chovan</p>
                <p class="text-gray-300">Vedúci</p>
                <a href="mailto:adam.chovanml@mostel.sk">adam.chovanml@mostel.sk</p>
            </div>
        </div>
    </Section>
</Layout>
