---
import "../styles/global.css";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
import Image from "astro/components/Image.astro";
import image1 from '../assets/images/mostel (129).webp';
const services=[
	{link:"/images/mostel (56).webp", text:"Dĺžka, uhol a tvrdosť"},
	{link:"/images/mostel (84).webp", text:"Moment sily, váha a tlak"},
	{link:"/images/mostel (111).webp", text:"Teplota, vlhkosť"},
	{link:"/images/mostel (75).webp", text:"Elektro"}
]
---

<Layout backgroundUrl="image.png">
	<Hero  imagePath="mostel (1).webp" mainPage="true" title="Mostel A&A" subtitle="Keď nestačí iba približne">
	</Hero>
	<Section height="h-fit" >
		<div id="more" class="flex flex-col h-full w-full items-center justify-center text-center pt-20 pb-20 md:pt-50 md:pb-50">
			<SectionTitle text="Kalibrujeme meradlá pre rôzne veličiny" class="mb-3" ></SectionTitle>
			<SectionTitle text="Od tlaku až po elektrický odpor" type="subtitle" class="mb-10"></SectionTitle>
			<div class="grid grid-cols-2 md:grid-cols-4 gap-5 justify-center h-100 relative w-full mb-10 md:mb-20">
				{services.map(item=>(
					<div class="flex flex-col">
						<div style=`background-image: url("${item.link}")` class=" h-full w-full bg-center bg-cover rounded-sm"></div>
						<p class="text-sm md:text-base">{item.text}</p>
					</div>
					
				))}
			</div>
			<Button href="/services" text="Detaily"></Button>
		</div>
	</Section>
	<Section height="h-fit">
		<div class="grid grid-cols-1 md:grid-cols-2 w-full h-full items-center justify-center gap-5 pb-20 md:pb-50">
			<Image src={image1} alt="AboutImage" class="inset-shadow-[0_0px_10px] inset-shadow-accent rounded-sm"></Image>
			<div class="flex flex-col w-full h-full justify-center">
				<SectionTitle text="Ako to robíme u nás?" type="title" class="mb-2"></SectionTitle>
				<SectionTitle text="Precízne a jednoducho" type="subtitle" class="mb-7"></SectionTitle>
				<p class="text-white mb-3 ">
					Ex nisi occaecat nulla fugiat est nisi amet eiusmod
					voluptate. Exercitation ullamco veniam sint commodo nisi
					adipisicing pariatur do non exercitation fugiat velit
					deserunt exercitation. Sint voluptate aliqua consequat
					deserunt proident consectetur. Veniam veniam velit aliquip
					cupidatat. Ad eiusmod exercitation in ex elit sint cupidatat
					ea laboris sint quis sit.
				</p>
				<a href="/about" class=" underline text-accent">Podrobnosti</a>
			</div>
		</div>
	</Section>
	<Section height="h-fit">
		<div class="flex flex-col justify-center items-center pb-20">
			<SectionTitle text="Naši obchodní partneri" class="mb-20"></SectionTitle>
			<div class="flex gap-3">
				<div class="bg-white h-50 w-100"></div>
				<div class="bg-white h-50 w-100"></div>
				<div class="bg-white h-50 w-100"></div>
			</div>
		</div>
	</Section>
</Layout>
