---
import Layout from "../layouts/Layout.astro"
import SectionTitle from "../components/SectionTitle.astro"
import Section from "../components/Section.astro"
import Button from "../components/Button.astro";
import ServicesGrid from "../components/ServicesGrid.astro";
---

<Layout backgroundUrl="image.png">
    <Section height="h-fit">
        <div class="flex flex-col w-full text-center items-center justify-center py-20 gap-5 overflow-hidden h-[120vh]">
            <SectionTitle text="Kalibrácia meracích prístrojov"></SectionTitle>
              <ServicesGrid></ServicesGrid>
              <p>Cenník alebo cenovú ponuku vypracujeme obratom na požiadanie.</p>
              <Button href="/contact" text="Kontaktujte nás"></Button>   
        </div>
    </Section>
    <Section height="h-fit">
      <SectionTitle text="Opravy meradiel" class="mb-10"></SectionTitle>
      <div class="mb-30">
        <p>Opravu meradla vykonávame dohodou po obhliadke jeho stavu a za predpokladu možnosti zabezpečenia náhradných dielov. Samostatná obhliadka meradla je bezplatná. V prípade že vieme vykonať opravu, vypracujeme cenovú ponuku a až po jej odsuhlásení meradlo opravíme. V prípade akýchkoľvek otázok nás neváhajte <a href="/contact" class="text-accent">kontaktovať.</a></p>
      </div>
    </Section>

</Layout>



<script is:inline>
  const buttons = document.querySelectorAll('#contentButtons .clickable');
  const displayArea = document.getElementById('displayArea');
  buttons.forEach(btn => {
    btn.addEventListener('click', () => {
      const text = btn.dataset.content;
      displayArea.innerHTML = text;

      buttons.forEach(b => {
        b.classList.remove('opacity-100');
        b.classList.add('opacity-50');
      });

      btn.classList.remove('opacity-50');
      btn.classList.add('opacity-100');
    });
  });
</script>
