---

---

<div class="h-screen w-full grid grid-cols-4 grid-rows-3 gap-5">
    <div class="h-full w-full bg-white rounded-sm"></div>
    <div class="h-full w-full bg-white rounded-sm col-span-2"></div>
    <div class="h-full w-full bg-white rounded-sm col-start-4"></div>
    <div class="h-full w-full bg-white rounded-sm col-span-2 row-span-2 row-start-2"></div>
    <div class="h-full w-full bg-white rounded-sm col-start-3 row-start-2"></div>
    <div class="h-full w-full bg-white rounded-sm col-start-4 row-start-2"></div>
    <div class="h-full w-full bg-white rounded-sm col-span-2 col-start-3 row-start-3"></div>
</div>