---
import Button from "./Button.astro";

const { imagePath, mainPage = false, title, subtitle } = Astro.props;

---

<section
  style={`background-image: url('/images/${imagePath}')`}
  class="relative flex flex-col justify-center items-center bg-cover bg-center  h-[90vh] -mx-64 px-64 md:px-64 lg:px-64 "
>
  <div class="absolute w-full h-full backdrop-brightness-60 backdrop-blur-[0.5px]"></div>

  <div
    class="relative z-10 text-white flex justify-center items-center lg:items-start w-full h-full flex-col "
  >
    <div class="flex">
      <h1
        class="text-3xl md:text-5xl lg:text-7xl font-bold mb-2 md:mb-3 md:animate-typing w-full md:whitespace-nowrap overflow-hidden text-center md:text-left "
      >
        {title}
      </h1>
    </div>
    <h2 class="text-base lg:text-3xl mb-8 text-center lg:text-left">{subtitle}</h2>
    { mainPage &&
    <div class="md:flex-row flex-col-reverse flex justify-center items-center gap-4 md:gap-10">
      <Button text="Zistite viac" href="#more" />
      <a class="flex justify-between items-center gap-2 h-full rounded-full bg-accent text-primary py-3 px-6" href="/contact">
        <div class="h-full rounded-full flex justify-center items-center">
          <svg
            class="h-5 md:h-full stroke-primary"
            id="Layer_1"
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="2"
            ><defs
              ><style>
                .cls-6376396cc3a86d32eae6f0dc-1 {
                  fill: none;
                }
              </style></defs
            ><path
              class="cls-6376396cc3a86d32eae6f0dc-1"
              d="M19.64,21.25c-2.54,2.55-8.38.83-13-3.84S.2,6.9,2.75,4.36L5.53,1.57,10.9,6.94l-2,2A2.18,2.18,0,0,0,8.9,12L12,15.1a2.18,2.18,0,0,0,3.07,0l2-2,5.37,5.37Z"
            ></path></svg
          >
        </div>
        <p class="w-full font-bold ">Kontaktujte nás</p>
      </a>
    </div>
    }
  </div>
  <div
    class="absolute -bottom-7.5 left-1/2 transform -translate-x-1/2 h-15 rounded-full w-15 stroke-background bg-accent opacity-80 p-3 animate-hop"
  >
    <svg
      class=""
      id="Layer_1"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      ><defs
        ><style>
          .cls-63ce7424ea57ea6c8380056c-1 {
            fill: none;
          }
        </style></defs
      ><line
        class="cls-63ce7424ea57ea6c8380056c-1"
        x1="12"
        y1="16.73"
        x2="12"
        y2="0.5"></line><polyline
        class="cls-63ce7424ea57ea6c8380056c-1"
        points="4.36 13.86 12 21.5 19.64 13.86"></polyline><polyline
        class="cls-63ce7424ea57ea6c8380056c-1"
        points="4.36 9.09 12 16.73 19.64 9.09"></polyline></svg>
  </div>
</section>
