---

---

<nav class="fixed text-white top-0 left-0 w-screen h-15 flex items-center justify-center z-1000">
    <div class="flex gap-5">
        <a href="/">Domov</a>
        <a href="/services">Služby</a>
        <a href="/about">O nás</a>
        <a href="/contact">Kontakt</a>
        <a href="/gallery">Galéria</a>
    </div>
</nav>