---
const {text, type='title'} = Astro.props
const { class: className} = Astro.props;
---

{type === 'title' ? (
  <h1 class=`${className} text-6xl font-bold text-white`>
    {text}
    </h1>
) : (
  <h2 class="text-3xl text-white">{text}</h2>
)}