---
import Nav from "../components/Nav.astro"

import "../styles/global.css";
const {backgroundUrl} = Astro.props
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Mostel</title>
	</head>
	<body class="px-5 md:px-20 lg:px-64 bg-background font-raleway relative" >
		<div class="bg absolute w-full h-full left-0 right-0 bg-cover"></div>
		<Nav></Nav>
		<slot />
	</body>
</html>
<style define:vars={{image: `url(${backgroundUrl})`, image2:`url(sm-${backgroundUrl})`}}>
	.bg{
		background-image: var(--image);
		@media (max-width: 600px){
			background-image: var(--image2);
		}
	}
</style>