
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
      --font-nunito: "Raleway", sans-serif; 
      --font-raleway: "Plus Jakarta Sans", sans-serif;
      --color-background: #1A1A1B;
      --color-primary: #333F44;
      --color-secondary: #37AB9D;
      --color-accent: #94F2E4;
      --animate-scale-blur-in: scale-blur-in 2s ease-out forwards;
      --animate-hop: hop 3s ease-in-out forwards infinite;
      --animate-width: width-change 1.5s ease-out;
      @keyframes scale-blur-in {
          0% {
                transform: scale(0.1);
                filter: blur(8px);
            }
            100% {
                transform: scale(1);
                filter: blur(0px);
            }
        }
        @keyframes hop{
            20%{
                transform: translateY(0px);
            }
            60%{
                transform: translateY(-20px);
            }
            100%{
                transform: translateY(0px);
            }

        }
        @keyframes typing{
            from{width:0}
        }
        @keyframes width-change{
            from{background-size:200%}
        }
      }